<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="~/css/builder.css">
   </head>
   <body>
      <main>
         <header>
            <a href="@Url.Action("Index", "Home")"><img src="~/res/infoquizbuilder-logo.svg" /></a>
            <button id="publish-button">Publish</button>
            <input type="text" id="id-box" readonly />
            <span class="copy-button" id="idbox-copy" relative="id-box" title="Copy to Clipboard" role="button" aria-label="Copy Quiz URL"></span>
         </header>
         <section class="left-cell">
            <div id="actions-container">
               <h2>Actions</h2>
               <button id="open-button">Open Quiz</button>
               <button id="new-button">New Quiz</button>
               <button disabled>Change Password</button>
            </div>
            <hr />
            <div id="questions-container">
               <h2>Questions</h2>
               <button id="new-question">New Question</button>
               <ul id="question-list"></ul>
            </div>
         </section>
         <section class="editor">
            <span id="corner"></span>
            <div class="question-box">
               <h2>Question & Answers</h2>
               <section id="question">
                  <h1><input type="text" id="question-input" class="build-input tile" placeholder="Click to edit" /></h1>
               </section>
               <section id="answers"> <input type="text" class="answer tile" placeholder="Click to edit" />
                  <input type="text" class="answer tile" placeholder="Click to edit" />
                  <input type="text" class="answer tile" placeholder="Click to edit" />
                  <input type="text" class="answer tile" placeholder="Click to edit" />
               </section>
            </div>

            <div class="info-box">
               <h2>Information</h2>
               <section class="tile" id="info-tile">
                  <input type="text" class="title" placeholder="Click to edit title" /><br />
                  <textarea class="text" id="text-editor" placeholder="Click to edit text"></textarea>
                  <textarea id="sources" placeholder="Click to edit sources"></textarea>
               </section>
            </div>
            <button id="update-question">Update Question</button>
         </section>
      </main>

      <!-- dialogs -->
      <div id="dialog-background"></div>
      <section id="publish-dialog" class="dialog">
         <h2>Publish Quiz</h2>

         <div id="publish-step1">
            <p>Quiz Name</p>
            <input type="text" id="publish-name" placeholder="Name..." /><br />
            <p>Set a Password</p>
            <input type="password" id="publish-password" placeholder="Password..." /><br />
            <p>Confirm Password</p>
            <input type="password" id="publish-password-confirm" placeholder="Repeat Password..." /><br />
            <button id="publish-submit">Publish</button>
            <button class="cancel second">Cancel</button>
         </div>
         <div id="publish-step2">
            <h3>Quiz Published!</h3>
            <p>Public Quiz URL:</p>
            <input type="text" readonly="true" id="publish-id-box" />
            <span class="copy-button" id="publish-copy" relative="publish-id-box" title="Copy to Clipboard" role="button" aria-label="Copy Quiz URL"></span>
            <br />
            <button>Close</button>
         </div>
      </section>
      <section id="open-dialog" class="dialog">
         <h2>Open Quiz</h2>

         <div>
            <p>Quiz URL</p>
            <input type="text" id="open-url" placeholder="https://infoquiz.org/q/5cd9b6a89c93825a58d5ceab" /><br />
            <p>Quiz Password</p>
            <input type="password" id="open-password" placeholder="Password..." /><br />
            <button id="open-submit">Open</button>
            <button class="cancel second">Cancel</button>
         </div>
      </section>
      <script src="~/js/builder.js"></script>
   </body>
</html>
