@{
ViewData["Title"] = "InfoQuiz";
}

<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="~/css/home.css">
   </head>
   <body>
      <header>
         <label>InfoQuiz</label>
         <a class="ribbon" href="https://github.com/PaddiM8/InfoQuizGen"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_left_darkblue_121621.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
      </header>
      <main>
         <section class="front">
            <picture id="background">
               <source media="(min-width: 1081px)" srcset="res/backgrounds/">
               <source media="(mid-width: 1441px)" srcset="res/backgrounds/">
               <img src="res/backgrounds/">
            </picture>
            <div class="centerbox">
               <h1>Create educational quizzes with ease</h1>
               <button><a asp-controller="Builder" asp-action="Index">Create a Quiz</a></button>
               <button class="second"><a asp-controller="ExampleQuiz" asp-action="Index">Example Quiz</a></button>
            </div>
         </section>
         <section class="features">
            <article>
               <h2>Seamless Transitions</h2>
               <p>Quizzes made with InfoQuiz have performant and smooth CSS transitions.</p>

               <h2>Knowledge based</h2>
               <p>The point of InfoQuizzes isn't to get as many correct answers as possible.
               Instead, it's about learning as much as possible. Hence the lack of points.</p>

               <h2>Sources</h2>
               <p>Quizzes are expected to have a list of sources used for each question,
               and the quiz-builder makes it easy to do so.</h2>
            </article>
            <section class="gif">
               <video width="720" height="405" controls>
                  <source src="~/res/preview.mp4" type="video/mp4">
               </video>
            </section>
         </section>
      </main>
      <footer>
         <hr />
         InfoQuiz
      </footer>
      <script>
         let backgroundId = Math.floor(Math.random() * 6);
         let bg3 = Math.floor(Math.random() * 4);
         if (bg3 == 0) backgroundId = 3;
         //let backgroundId = 1;
         applyBackground(document.getElementById("background"), backgroundId);

         function applyBackground(element, id) {
            element.children[0].srcset += id + "/1440.jpg";
            element.children[1].srcset += id + "/4224.jpg";
            element.children[2].src += id + "/1080.jpg";
         }
      </script>
   </body>
</html>
