@import 'common.scss';

body {
   margin: 0;
   display: grid;
   grid-template-areas:
      'header'
      'front'
      'features'
      'footer';
}

header {
   grid-item: header;
   background-color: transparent;
   height: 65px;

   .logo {
      width: 140px;
      height: auto;
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 21px;
      color: white;
   }

   .ribbon {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(90deg);
   }
}

.front {
   display: grid;
   grid-item: front;
   height: 60vh;

   picture img {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: -1;
      margin-top: -65px;
      overflow: hidden;
   }

   h1 {
      margin-bottom: 50px;
      margin-top: -50px;
      text-shadow: 2px 2px #424242;
   }

   .centerbox {
      width: 75%;
      height: 100px;
      margin: auto;
      margin-top: -25px;
      text-align: center;
      color: white;
   }

   button {
      background-color: #E53935;
   }

   button:hover {
      background-color: #C62828;
   }

   button.second {
      background-color: $white;
   }

   button.second:hover {
      background-color: #BDBDBD;
   }
}

.features {
   display: grid;
   grid-template-areas: 'article gif';
   grid-template-columns: 50% 50%;
   grid-item: features;

   background-color: $white;
   min-height: 40vh;
   padding: 20px;
   padding-top: 60px;
   padding-left: 180px;

   article {
      grid-item: article;
      width: 60%;

      p {
         margin-top: -10px;
         margin-bottom: 60px;
      }
   }

   .gif {
      grid-item: gif;
      float: right;
      padding: 20px;
   }
}

footer {
   grid-item: footer;
   color: black;
   font-size: 1.3em;
   background-color: $white;
   padding: 35px;
   position: relative;

   label {
   }

   hr {
      position: absolute;
      top: 0;
      width: calc(100% - 25px);
      left: 12.5;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   }
}
