@import 'common.scss';

body {
   margin: 0;
   display: grid;
   grid-template-areas:
      'header'
      'front'
      'features'
      'footer';
}

header {
   grid-item: header;
   background-color: $primary-color;
   padding: 20px;

   label {
      font-size: 21px;
      color: white;
   }

   .ribbon {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(90deg);
   }
}

.front {
   display: grid;
   grid-item: front;
   background-color: $primary-color;
   height: 800px;

   h1 {
      margin-bottom: 50px;
      margin-top: -50px;
   }

   .centerbox {
      width: 75%;
      height: 180px;
      margin: auto;
      text-align: center;
      color: white;
   }
}

.features {
   display: grid;
   grid-template-areas: 'article gif';
   grid-template-columns: 50% 50%;
   grid-item: features;

   background-color: $white;
   height: 500px;
   padding: 20px;
   padding-top: 60px;
   padding-left: 180px;

   article {
      grid-item: article;
      width: 60%;

      p {
         margin-top: -10px;
         margin-bottom: 60px;
      }
   }

   .gif {
      grid-item: gif;
      float: right;
      padding: 20px;
   }
}

footer {
   grid-item: footer;
   background-color: $primary-color;
   padding: 20px;
   color: white;
   font-size: 1.2em;
}
